@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0e0f37;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
}

.hidden {
    display: none;
}

.page {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.main {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

/*Image*/
.intimg {
    height: 30vh;
    width: 30vh;
}

.slideimg {
    height: 30vh;
    width: 40vh;
}

image {
    object-fit: fill;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.flex>.mh2 {
    padding-top: 50px;
    padding-left: 5px;
    margin: 0px;
}

.flex>.ph2 {
    margin: 0px;
}

/*p1*/
#head-h1 {
    user-select: none;
    margin: 0px;
    font-size: 15vh;
}

#map-h1 {
    user-select: none;
    margin: 0px;
    font-size: 10vh;
}

#head-h2 {
    user-select: none;
    font-size: 3vh;
    color: #a0a0a0;
}

/*p2*/
#main1-main {
    font-size: 2.2vh;
    font-weight: 550;
}

/*p3*/
.ph2 {
    letter-spacing: 0.2vh;
    font-size: 6.5vh;
    margin-bottom: 4vh;
}

.mh2 {
    font-size: 4vh;
    margin-bottom: 2vh;
    margin-top: 2.5vh;
}

.mdiv {
    font-size: 2vh;
}

/*p4*/

#map {
    height: 40vh;
    width: 40vh;
    margin-top: 30px;
    border: white 2px solid;
}


.navigation_bar {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.521);
}

.next-index-follower {
    height: 100%;
    width: 100vh;
    cursor: pointer;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 4vh;
    color: rgba(255, 255, 255, 0.521);
}

.next-index-follower-container {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.5s;
}

.next-index-follower-container:hover {
    background-color: rgba(255, 255, 255, 0.25);
    height: 8vh;
}

.shortcut_container {
    display: flex;
    flex-direction: row;
}

.shortcut {
    width: 5vw;
    height: 5vw;
    margin-left: 20px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.shortcut_viewer {
    font-family: 'Teko', sans-serif;
    user-select: none;
    margin-top: 10px;
    letter-spacing: 0.3vh;
    font-size: 3.5vh;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
}

.view-backgorund {
    position: fixed;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 1000px) {
    .shortcut {
        width: 2.5vw;
        height: 2.5vw;
    }

    .flex>.mh2 {
        padding-top: 22px;
        padding-left: 5px;
    }

    #head-h1 {
        font-size: 20vh;
    }

    #head-h2 {
        font-size: 7vh;
    }

    #main1-main {
        font-size: 4vh;
        font-weight: 550;
    }

    #map-h1 {
        font-size: 15vh;
    }

    #map {
        height: 50vh;
        width: 50vh;
    }

    .ph2 {
        letter-spacing: 0.2vh;
        font-size: 8vh;
        margin-bottom: 4vh;
    }

    .mh2 {
        font-size: 5vh;
    }

    .intimg {
        height: 45vh;
        width: 45vh;
    }

    .slideimg {
        height: 45vh;
        width: 60vh;
    }

    .mdiv {
        font-size: 3vh;
        font-weight: 400;
    }
}